*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer-container{
    background-color: black;
    padding: 3em;
}

.footer-container p{
    color: white;
    margin-left: 153px;
}

.footer{
    width: 80%;
    height: 40vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2{
    margin-bottom: 2rem;
}

.footer-heading a{
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover{
    /* the colour when you mou is on it */
    color: blue;
}
/* first div */
.mainbody{
    background-color: black;
}
.first{
    width: 1349px;
    height: 533px;
    left: 0px;
    top: 80px;
    background: #2F70FE;
    /* display: flex; */
}

.text{
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 33px;
    color:white;
    position: absolute;
    width: 470px;
    height: 282px;
    left: 450px;
    top: 194px;
}
.text h1{
    width: 620px;
    height: 130px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text p{
    width: 605px;
    height: 60px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
button{
    margin-left: 13em;
}
.image1{
    position: absolute;
    width: 389.74px;
    height: 254.87px;
    left: 98px;
    top: 400px;
}

.image2{
    position: absolute;
    width:  300.74px;
    height: 254.87;
    right: 0px;
    bottom: 40px;
    background: #2F70FE;
    mix-blend-mode: luminosity;
}
.sec{
    position: absolute;
    width: 1349px;
    height: 561px;
    left: 0px;
    top: 549px;
    background: rgba(0, 255, 133, 0.08);
}
.triangle{
    position: absolute;
    width: 107px;
    height: 87px;
    left: 98px;
    top: 390px;

}
.triangle2{
    position: absolute;
    width: 80px;
    height: 98px;
    left: 1246px;
    top: 90px;

}
.item h2{
position: absolute;
width: 290px;
height: 51px;
left: 584px;
top: 135px;

font-family: 'Circular Std';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 51px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;
color: #000000;

}
.items{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0px;
    gap: 56px;

    position: absolute;
    width: 824px;
    height: 178px;
    left: 308px;
    top: 200px;

/* for text */
     text-align: center;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.01em;
}

.divon{
    margin-top: 40em;
    margin-left: 13em;
}

.divp h2{
    width: 379px;
    height: 74px;

    margin-top: 3em;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;

    color: #181818;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.divp p{
    width: 410px;
    height: 54px;
    
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    /* or 169% */

    letter-spacing: 0.01em;

    color: #000C2D;

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* div two */

.maindivtwo{
    margin-top: 5em;
    margin-left: 9em;
}
.divtwo{
    margin-left: 10em;
    margin-top: -2em;
}
.divtwo a{
    text-decoration: none;
}
.divtwo h2{
    
    width: 379px;
    height: 74px;

    margin-top: 3em;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;

    color: #181818;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.divtwo p{
    width: 410px;
    height: 54px;
    
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    /* or 169% */

    letter-spacing: 0.01em;

    color: #000C2D;

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* div three */
.maindivthree{
    margin-top: 5em;
    margin-left: 4em;
}

.divthree{
    margin-left: 10em;
    margin-right: 6em;
}
.divthree a{
    margin-top: 10em;
    text-decoration: none;
}
.divthree h2{
    
    width: 379px;
    height: 74px;

    margin-top: 3em;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;

    color: #181818;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.divthree p{
    width: 410px;
    height: 54px;
    
    font-family: 'Circular Std';
    margin-bottom: 3em;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    /* or 169% */

    letter-spacing: 0.01em;

    color: #000C2D;

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* div four */

.maindivfour{
    margin-top: 5em;
    margin-left: 13em;
}
.divfour{
    margin-left: 10em;
    margin-top: -3em;
}
.divfour a{
    text-decoration: none;
}
.divfour h2{
    
    width: 379px;
    height: 74px;

    margin-top: 3em;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;

    color: #181818;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.divfour p{
    width: 410px;
    height: 54px;
    
    font-family: 'Circular Std';
    margin-bottom: 3em;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    /* or 169% */

    letter-spacing: 0.01em;

    color: #000C2D;

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* div five */

.maindivfive{
    margin-top: 5em;
    margin-left: 4em;
}

.divfive{
    margin-left: 10em;
    margin-right: 6em;
}
.divfive a{
    margin-top: 10em;
    text-decoration: none;
}
.divfive h2{
    
    width: 379px;
    height: 74px;

    margin-top: 3em;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;

    color: #181818;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.divfive p{
    width: 410px;
    height: 54px;
    
    font-family: 'Circular Std';
    margin-bottom: 3em;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    /* or 169% */

    letter-spacing: 0.01em;

    color: #000C2D;

    flex: none;
    order: 1;
    flex-grow: 0;
}
